<div *ngIf="total_members">
	Total Attempts: {{attempt_count}}/{{total_members}}
</div>
<div *ngIf="!total_members">
	Total Attempts: {{attempt_count}}
</div>

<div>
	Time Left: {{time_left}} seconds
</div>


<div *ngIf="time_elapsed">
	<button (click)="show_result()">Results</button>
</div>

<div *ngIf="!time_elapsed">
	<div *ngIf="attempted">
		<div *ngIf="!time_elapsed">
			Done. Wait.
		</div>
	</div>

	<div *ngIf="!attempted">
		<div *ngIf="!time_elapsed">	
			<ng-container *ngIf="poll_data.question_type != 'input'">
				<div *ngFor="let op of poll_data.options; let i=index;">
					<input type="checkbox" id="opt{{i}}" [(ngModel)]="op.value" value="op.value" (change)="clear_if_single($event, i)"> {{op.option}}
				</div>
			</ng-container>
			<ng-container *ngIf="poll_data.question_type == 'input'">
				<input type="text" [(ngModel)]="option_input">
			</ng-container>
		</div>

		<button (click)="answer_poll()">Submit</button>
	</div>

</div>




<!-- <button (click)="send()">
	send
</button> -->