<config>
    
    <db_connection>
        <username>postgres</username>
		<pwd>test</pwd>
		<host>localhost</host>
		<dbname>poll_db_5</dbname>
		<schema>public</schema>
    </db_connection>
    
    <db_server>
    	<host>0.0.0.0</host>
    	<port>8000</port>
    </db_server>

    <node-server>
    	<port>3001</port>
    </node-server>

</config>