<div class="col-sm-12 col-md-6 col-md-offset-3 container">
	<form #poll_form [formGroup]="poll_data_payload" (ngSubmit)="validate()" class="">
		<div class="">
			<div class="row">
				
				<div class="col-12 mb-2">
					<label>Poll</label>
					<input class="form-control" type="text" formControlName="question" placeholder="Which place to go for the next trip?">
				</div>
				
				<div class="col-12 mb-2">
					<label>Poll Type <fa-icon [icon]="faIcons.info"></fa-icon></label><br>
					<div class="row">
						<div class="btn-group btn-group-toggle col-12" data-toggle="buttons">
							<label class="btn btn-primary active">
								<input type="radio" formControlName="question_type" checked (click)="add_option('one');update_qtype('single')"> Single
							</label>
							<label class="btn btn-primary">
								<input type="radio" formControlName="question_type" (click)="add_option('one');update_qtype('multiple')"> Multiple
							</label>
							<label class="btn btn-primary">
								<input type="radio" formControlName="question_type" (click)="clear_options();update_qtype('input')"> Free-text
							</label>
						</div>
					</div>

				</div>

				<div *ngIf="poll_data_payload.get('question_type').value != 'input'" class="col-12 mb-2">
					<label>Options</label>
					<div formArrayName="options">
						<div *ngFor="let option of poll_data_payload.get('options')['controls']; let i = index">
							<form [formGroup]="option">
								<div class="row mb-2">
									<div class="col">
		            					<input class="form-control" id="contact_data{{i}}" type="text" formControlName="option" placeholder="{{choice[i]}}">
									</div>
									<div class="col-auto">
										<button class="btn btn-primary mr-2" [disabled]="formArray.length == 1" (click)="remove_option(i)"><fa-icon [icon]="faIcons.delete"></fa-icon></button>
									</div>
								</div>
							</form>
						</div>
						<button class="btn btn-primary mr-2" (click)="add_option()"><fa-icon [icon]="faIcons.add"></fa-icon></button>
					</div>
				</div>

				<div class="col-12 mb-2">
					<!-- <label>Answer Limit</label>
					<input type="number" formControlName="answer_limit"> -->
				</div>

				<div class="col-12 mb-2">
					<!-- <label>Participants</label>
					option logic here -->
				</div>

				<div class="col-12 mb-2">
					<label>Timer (in minutes)</label>
					<input class="form-control" type="number" formControlName="timer">
				</div>

			</div>

			<button class="btn btn-primary btn-lg col-12 mt-3">Start Poll <fa-icon [icon]="faIcons.start"></fa-icon></button>

		</div>
	</form>
</div>

<!-- <button routerLink="/attempt/1">next</button> -->
