<form #poll_form [formGroup]="poll_data_payload" (ngSubmit)="validate()" class="">
	<div class="card mb-2 p-2">
		<div class="row mt-2">
			
			<div class="col-12 mb-2">
				<label>Question</label>
				<input class="form-control" type="text" formControlName="question">
			</div>
			
			<div class="col-12 mb-2">
				<label>Question Type</label>
				<div class="form-check">
					<input class="form-check-input" type="radio" formControlName="question_type" value="single" (click)="add_option('one')">
					<label class="form-check-label">Single</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" formControlName="question_type" value="multiple" (click)="add_option('one')">
					<label class="form-check-label">Multiple</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" formControlName="question_type" value="input" (click)="clear_options()">
					<label class="form-check-label">Input</label>
				</div>
			</div>

			<div *ngIf="poll_data_payload.get('question_type').value != 'input'" class="col-12 mb-2">
				<label>Options</label>
				<div formArrayName="options">
					<div *ngFor="let option of poll_data_payload.get('options')['controls']; let i = index">
						<form [formGroup]="option">
							<div class="row mb-1">
								<div class="col-6">
	            					<input class="form-control" id="contact_data{{i}}" type="text" formControlName="option" placeholder="Choice {{i+1}}">
								</div>
								<div class="col-6">
									<button class="btn btn-primary mr-2" (click)="add_option()">Add</button>
									<button class="btn btn-primary mr-2" *ngIf="formArray.length != 1" (click)="remove_option(i)">Remove</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="col-12 mb-2">
				<!-- <label>Answer Limit</label>
				<input type="number" formControlName="answer_limit"> -->
			</div>

			<div class="col-12 mb-2">
				<!-- <label>Participants</label>
				option logic here -->
			</div>

			<div class="col-12 mb-2">
				<label>Timer (in minutes)</label>
				<input class="form-control" type="number" formControlName="timer">
			</div>

		</div>

		<button class="btn btn-primary">Create</button>

	</div>

</form>


<!-- <button routerLink="/attempt/1">next</button> -->
